.header {
    text-align: center;
}

body {
    background-color: rgba(138, 67, 0, 0.856);
}

.button {
    text-align: center;
}

.question {
    text-align: center;
}

.answer {
    text-align: center;
}

.result {
    text-align: center;
}
